.signin{
    font-family: "Lato";
    align-self: center;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    overflow: hidden;
    margin: 0;
 
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}
.profileDefault{
    width: 3%;
    min-width: 25px;
}
.signin>p{
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 29px;
    text-align: center;
}

.tm-logo-signin{
    width: 27%;
    max-width: 500px;
    min-width: 200px;
}
.loginForm{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: 0rem auto 3rem;
}
.loginForm-data{
    /*  width: 100%; */
    width: 25%;
    max-width: 500px;
    height: 45px;
    outline: none;
    background-color:#F5F5F5;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
    font-size: 17;
    padding: 10px;
    margin: 0.5rem 1rem;
    min-width: 200px;
}
.loginForm-button{
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    width: 25%;
    max-width: 500px;
    height: 45px;
    color: #FFFFFF;
    background: #fc4c69;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
    margin-top: 30px;
    margin: 1rem;
    min-width: 200px;
}
.loginForm-button:hover{
    background: #ee1e41;
    cursor: pointer;
}
.forgot-password{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 0;
    color: #1CA0C4;
}
.forgot-password:hover{
    cursor: pointer;
    text-decoration: underline;
}